In [14]:
import pandas as pd
import numpy as np
import time

In [15]:
def api_url(params):
    '''
    Helper to create request string
    '''
    API_ENDPOINT = 'https://comtrade.un.org/api/get?'
    
    return API_ENDPOINT + '&'.join(
        [ '{k}={v}'.format(k=k, v=v) for k, v in params.items()])

In [16]:
params_trade_total = {
    'max': 1000,
    'type': 'C',
    'freq': 'A',
    'px': 'HS',
    'ps': 2020,
    'r': 643,    # Russia's code
    'p': 'all',
    'rg': 'all',
    'cc': 'TOTAL',
    'fmt': 'csv'
}

### RUSSIAN IMPORT/EXPORT TRADE VALUE PER PARTNER: 2000 - 2020

In [ ]:
params_trade_total['fmt'] = 'csv'

for year in range(2000, 2021):
    params_trade_total['ps'] = year
    
    data = pd.read_csv(
        api_url(params_trade_total)
    )
    print('Year:', year, 'records:', len(data))
    
    data.to_csv(
        'data/total-trade-value-{year}.csv'.format(year=year),
        index=False
    )
    time.sleep(30)

### !TODO: IMPORT/EXPORT PRODUCTS FROM TOP 10 PARTNERS

In [ ]:
params_products = {
    'max': 5000,
    'type': 'C',
    'freq': 'A',
    'px': 'HS',
    'ps': 2020,
    'r': 643,    # Russia's code
    'p': [156, 276],   # Partner code separated by comma
    'rg': [1, 2],    # 1 - Import, 2 - Export
    'cc': 'AG2',
    'fmt': 'csv'
}

In [37]:
top_partners_stats = pd.read_csv('data/top_partners_stats.csv')

In [38]:
top_partners_stats

,Year,Trade Flow,Rank,index,Partner,Partner Code,Partner Pct,Trade Value (US$)
0,2000,Export,1,240,Germany,276,8.95,9231828795
1,2000,Export,2,257,Italy,381,7.04,7254325411
2,2000,Export,3,206,Belarus,112,5.40,5572101000
3,2000,Export,4,215,China,156,5.09,5247619974
4,2000,Export,5,343,Ukraine,804,4.87,5024485125
5,2000,Export,6,346,United Kingdom,826,4.53,4670041638
6,2000,Export,7,348,USA,842,4.51,4648015624
7,2000,Export,8,306,Poland,616,4.32,4452274283
8,2000,Export,9,293,Netherlands,528,4.22,4349439032
9,2000,Export,10,331,Switzerland,757,3.86,3976663636
10,2000,Import,1,64,Germany,276,11.51,3898067847
11,2000,Import,2,26,Belarus,112,10.95,3710139000
12,2000,Import,3,167,Ukraine,804,10.78,3650926743
13,2000,Import,4,172,USA,842,7.98,2703404198
14,2000,Import,5,87,Kazakhstan,398,6.49,2199983795
15,2000,Import,6,83,Italy,381,3.58,1212447455
16,2000,Import,7,56,France,251,3.51,1187780610
17,2000,Import,8,55,Finland,246,2.83,957849105
18,2000,Import,9,35,China,156,2.80,948951489
19,2000,Import,10,170,United Kingdom,826,2.54,860907973
20,2000,Turnover,1,8337,Germany,276,9.59,13129896642
21,2000,Turnover,2,8279,Belarus,112,6.78,9282240000
22,2000,Turnover,3,8444,Ukraine,804,6.33,8675411868
23,2000,Turnover,4,8358,Italy,381,6.18,8466772866
24,2000,Turnover,5,8442,USA,842,5.37,7351419822
25,2000,Turnover,6,8301,China,156,4.52,6196571463
26,2000,Turnover,7,8446,United Kingdom,826,4.04,5530949611
27,2000,Turnover,8,8406,Poland,616,3.77,5168541104
28,2000,Turnover,9,8390,Netherlands,528,3.72,5089103226
29,2000,Turnover,10,8362,Kazakhstan,398,3.25,4447364194
...,...,...,...,...,...,...,...,...
600,2020,Export,1,8105,China,156,14.58,49146337025
601,2020,Export,2,8191,Netherlands,528,7.36,24819406506
602,2020,Export,3,8253,United Kingdom,826,6.87,23158448968
603,2020,Export,4,8135,Germany,276,5.52,18618931252
604,2020,Export,5,8095,Belarus,112,4.74,15978568108
605,2020,Export,6,8247,Turkey,792,4.73,15929123041
606,2020,Export,7,8158,Kazakhstan,398,4.17,14051457813
607,2020,Export,8,8162,Rep. of Korea,410,3.70,12468100598
608,2020,Export,9,8255,USA,842,3.25,10958393455
609,2020,Export,10,8154,Italy,381,2.99,10071345439
610,2020,Import,1,7890,China,156,23.70,54913416585
611,2020,Import,2,7926,Germany,276,10.09,23382406227
612,2020,Import,3,8058,USA,842,5.70,13213390420
613,2020,Import,4,7880,Belarus,112,5.44,12604663856
614,2020,Import,5,7946,Italy,381,4.40,10195883785
615,2020,Import,6,7918,France,251,3.49,8083803008
616,2020,Import,7,7954,Rep. of Korea,410,3.09,7159385938
617,2020,Import,8,7949,Japan,392,3.07,7111561328
618,2020,Import,9,8049,Turkey,792,2.21,5111623114
619,2020,Import,10,7950,Kazakhstan,398,2.18,5054817243
620,2020,Turnover,1,12539,China,156,18.30,104059753610
621,2020,Turnover,2,12579,Germany,276,7.38,42001337479
622,2020,Turnover,3,12514,Belarus,112,5.03,28583231964
623,2020,Turnover,4,12636,Netherlands,528,5.02,28567483053
624,2020,Turnover,5,12702,United Kingdom,826,4.66,26518975590
625,2020,Turnover,6,12698,USA,842,4.25,24171783875
626,2020,Turnover,7,12695,Turkey,792,3.70,21040746155
627,2020,Turnover,8,12600,Italy,381,3.56,20267229224
628,2020,Turnover,9,12656,Rep. of Korea,410,3.45,19627486536
629,2020,Turnover,10,12604,Kazakhstan,398,3.36,19106275056